.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.title {
  margin-bottom: 0.5rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
